<header>{{school.name}}학생 프로필</header>
<div class="col-md-4">
	<ul class="profileList">
		검색결과입니다!<hr>
		{{#each profileList}}
			{{> searchedProfile this}}
		{{else}}
		<p>해당학생은 존재하지 않는것 같아요. </p>
		{{/each}}
		원하는 검색결과가 없다면, 찾으려는 학생의 프로필을 만들어 학생위키 만들기에 동참해주세요!

		<a href="/profile/newOne" class="btn btn-default">프로필생성</a>
	</ul>

</div>
<!--프로필검색 form -->

<div class="col-md-8">
	{{> searchProfileForm}}
</div>

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/controllers/profile/profileSearchController.js"></script>
{{/section}}