<h1>Board Page, This page include board and sorting TODO</h1>

<div class="board">
	<b><p class="title">{{board.title}}</p></b>
	<p class="content">{{board.content}}</p>
	<p class="updated_at">{{board.updated_at}}</p>
</div>
