
<!--NameSpace : HM -->
<h1>학교명을 입력하세요.!!</h1>
<link rel="stylesheet" type="text/css" href="/css/home.css">
<!-- -->
<form action="/api/school" id="searchSchool">
	<div class="input-append">
		<input class="span2" id="appendedInputButton" type="text" name="name" placeholder="Search...">
		<button class="btn btn-primary" type="submit">Go!</button>
	</div>
</form>

<div id="searchResult"></div>




<script type="text/javascript" id="idea">
	"{{{this}}}"
</script>>

{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
{{/section}}


{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script src="/js/controllers/homeController.js"></script>
{{/section}}