
<!--NameSpace : HM -->
<header>
	스 쿨 충
</header>


<!--학교 검색  -->
<form action="/api/school" id="searchSchool">
	<div>
		<input type="text" name="name" placeholder="학교명을 입력하세요!!">
		<button class="btn btn-default buttonGroup" type="submit">검색!</button>
	</div>
</form>

<!--학교 리스트 목록 !-->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div id="searchResult"></div>
	</div>
</div>
<!--
<script type="text/javascript" id="idea">
	"{{{this}}}"
</script>> -->

{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
{{/section}}


{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script src="/js/controllers/homeController.js"></script>
{{/section}}


