
<!--NameSpace : HM -->
<h1>스 쿨 충</h1>

<div class="imge2">
	<img src="/img/캐터피.png" alt="Bug2">
</div>
<link rel="stylesheet" type="text/css" href="/css/home.css">
<!-- -->
<form action="/api/school" id="searchSchool">
	<div class="input-append">
		<input class="span2" id="appendedInputButton" type="text" name="name" placeholder="학교명을 입력하세요.!!">
		<button class="btn btn-primary" type="submit">Go!</button>
	</div>
</form>


<div id="searchResult"></div>


<script type="text/javascript" id="idea">
	"{{{this}}}"
</script>>

{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
{{/section}}


{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script src="/js/controllers/homeController.js"></script>
{{/section}}