
<!--NameSpace : HM -->
<h1>스 쿨 충</h1>

<link rel="stylesheet" type="text/css" href="/css/home.css">
<!--학교 검색  -->
<form action="/api/school" id="searchSchool">
	<div class="input-append">
		<input class="span2" id="appendedInputButton" type="text" name="name" placeholder="학교명을 입력하세요.!!">
		<button class="btn btn-primary" type="submit">검색!</button>
	</div>
</form>

<!--학교 리스트 목록 !-->
<div id="searchResult"></div>


<script type="text/javascript" id="idea">
	"{{{this}}}"
</script>>

{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
{{/section}}


{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script src="/js/controllers/homeController.js"></script>
{{/section}}