<h1>SC home page, It will include School List. TODO</h1>


<ul class="schoolList">
{{#each schoolList}}
	<a href="/school/{{id}}">
		<li>{{name}} / {{location}} - <p class="updated_at">{{updated_at}}</p></li>
	</a>
{{/each}}
</ul>
