<header>로그인</header>
<div class="row">
	<!-- 안내사항 column-->
	<div class="col-md-6">
		<ul>
			<legend>안내사항</legend>
			<li>로그인을 할 경우 개인페이지를 본인이 관리 가능</li>
			<li>타인의 페이지 생성가능</li>
			<li>악의적인 댓글 혹은 음란물 유포 시 강력하게 제제</li>
			<li>문의사항은 schoolchoong@gmail.com</li>

		</ul>
	</div>
	<!-- 로그인 column-->
	<div class="col-md-6">
		<div>
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="inputId" class="col-xs-10 col-sm-2 col-md-3 control-label">아이디</label>
			    <div class="col-xs-9 col-sm-7 col-md-9">
			      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword" class="col-xs-10 col-sm-2 col-md-3 control-label">비밀번호</label>
			    <div class="col-xs-9 col-sm-7 col-md-9">
			      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <div class="col-sm-offset-3 col-sm-9">
			      <button type="submit" class="btn btn-default">로그인</button>
			      <button class="btn btn-default"><a href="/register">회원가입</a></button>
			    </div>
			  </div>
			</form>
		</div>
		
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/css/login.css">