<header>로그인</header>
<div class="row">

	<!-- 안내사항 column-->
	<div class="col-md-6">
		<ul>
			<legend>안내사항</legend>
			<li>로그인을 할 경우 개인페이지를 본인이 관리 가능</li>
			<li>타인의 페이지 생성가능</li>
			<li>악의적인 댓글 혹은 음란물 유포 시 강력하게 제제</li>
			<li>문의사항은 schoolchoong@gmail.com</li>

		</ul>
	</div>

	<!-- 로그인 column-->
	<div class="col-xs-offset-1 col-md-5">
		<form class="form-horizontal loginForm" action="/login" method="POST">
			<div class="form-group">
				<label for="fieldEmail" class="col-xs-11 col-sm-2 col-md-3 control-label">이메일</label>
				<div class="col-xs-11 col-sm-7 col-md-9">
				  <input type="email" class="form-control" id="fieldEmail" placeholder="Email" name="email">
				</div>
			</div>
			<div class="form-group">
				<label for="fieldPassword" class="col-xs-11 col-sm-2 col-md-3 control-label">비밀번호</label>
				<div class="col-xs-11 col-sm-7 col-md-9">
				  <input type="password" class="form-control" id="fieldPassword" placeholder="Password" name="password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
				  <button type="submit" class="btn btn-default buttonGroup">로그인</button>
				  <a  href="/register" class="btn btn-default buttonGroup">회원가입</a>
				</div>
			</div>
			<input type="hidden" name="login" value="true">
		</form>
	</div>
</div>



{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="/css/login.css">
{{/section}}

{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/auth.js"></script>
	<script type="text/javascript" src="/js/controllers/loginController.js"></script>
{{/section}}