

<header>
	어디학교 학생인가요?
</header>
<div class="row">
	{{#if schoolInfo}}
		<a href="/profile/newTwo?school={{schoolInfo.id}}" class="btn btn-default">{{schoolInfo.name}} 학생이라면 Click!</a>		
	{{/if}}

	<div class="col-md-offset-2">
		
		<form class="form-horizontal searchSchoolForm" role="form" action="/api/school" method="GET">
			<input type="text" name="name" placeholder="학교이름 검색">
			<button class="btn btn-default buttonGroup" type="submit">검색</button>
		</form>


		<br />
		<!--검색리스트 목록 !-->
		<div id="searchedSchoolsTPL"></div>
	</div>
</div>



{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/controllers/newProfileOneController.js"></script>
{{/section}}