<h1>NewSchoolPage It would be better seperated than OnePage</h1>

<h2>안녕하세요, {{schoolInfo.name}}의 교문을 함께 열어봐요!</h2>

{{schoolInfo.name}}의 학교페이지를 열려면, {{schoolInfo.name}}학생 데이터 최소 한개가 필요해요. 걱정마세요, 1분이면 끝날거에요.