<!--NameSpace: EP -->

<div id="profileTemplate"></div>
{{#unless userInfo.profile}}
	{{#isEquals userInfo.name profile.name}}
	<button class="btn btn-lg btn-warning" id="takeProfile" userId={{userInfo.id}}>프로필 차지하기</button>
	{{/isEquals}}
{{/unless}}
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button id="updateBugName" class="btn btn-default buttonGroup">충호변경</button>
  </div>
  <div class="btn-group" role="group">
    <button id="updateSchool" class="btn btn-default buttonGroup">학교추가</button>
  </div>
  <div class="btn-group" role="group">
    <button class="btn btn-default buttonGroup" id="addReply">방명록</button>
  </div>
  <div class="btn-group" role="group">
    <button class="btn btn-default buttonGroup" id="addFeature">특징</button>
  </div>
  <div class="btn-group" role="group">
    <button class="btn btn-default buttonGroup" id="addStory">썰</button>
  </div>
</div>
<div>
	<div id="addReplyTPL"></div> 
	<div id="addFeatureTPL"></div>
	<div id="addStoryTPL"></div> 
</div>
<div class="pull-right col-xs-12 col-md-4">
	
	<div id="updateClassTPL"></div>
	<!-- 충호변경-->
	<div id="updateBugNameTPL"></div>
	<!-- 학교수정-->
	<div id="updateSchoolTPL"></div>

	<!-- 방명록 기록칸-->
	<div id="replies"></div>
	

	<!--방명록추가 버튼을 눌렀을때 수정 form 동적생성을 위한 div -->
	

</div>



<!-- 특징, 이야기 column-->
<div class="pull-left col-xs-12 col-sm-10 col-md-8">
	<div id="features"></div>
	

	<!--특징추가 버튼을 눌렀을때 수정 form 동적생성을 위한 div -->
	<div id="addFeatureTPL"></div>

	<!-- 썰 div-->
	<div id="stories"></div>
	

	<!--썰추가 버튼을 눌렀을때 수정 form 동적생성을 위한 div -->
	<div id="addStoryTPL"></div> 
</div>	

<div class="col-xs-12 col-sm-12 col-md-12">
	<input type="hidden" id="defaultVal" profileId={{profileId}} {{#isEquals profileId userInfo.profile}} isMyPage="true" {{/isEquals}}>
	<a class="btn btn-default buttonGroup" href="/profile/{{profileId}}/update" id="updateProfile">수정</a>
	<button class="btn btn-default buttonGroup" id="removeProfile">삭제</button>
</div>


{{#section 'head'}}
	<script type="text/javascript" src="/js/templates/templates.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/test.css">
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
{{/section}}


{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/api/user.js"></script>
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/controllers/profileUtils.js"></script>
	<script type="text/javascript" src="/js/templates/controllers/profileTPLC.js"></script>
	<script type="text/javascript" src="/js/controllers/profileController.js"></script>
{{/section}}