<!--NameSpace: EP -->

<div id="profileTPL"></div>



<div id="divClass" class="btn-group btn-group-justified" role="group" aria-label="...">
	<div class="btn-group" role="group">
		<button class="btn btn-default buttonGroup" id="addSchool">학교추가</button>
	</div>
	<div class="btn-group" role="group">
		<button class="btn btn-default buttonGroup" id="addFeature">별명</button>
	</div>
	<div class="btn-group" role="group">
		<button class="btn btn-default buttonGroup" id="addStory">이야기</button>
	</div>
	<div class="btn-group" role="group">
		<button class="btn btn-default buttonGroup" id="addReply">방명록</button>
	</div>
</div>


<div>
	<!--학교추가, 반수정, 방명록, 특징, 썰추가 템플릿.-->
	<div id="updateProfileTPL"></div>
</div>

<!-- 특징 column -->
<div class="pull-left col-xs-12 col-md-4">
	
	<p>**별명**</p>
	<hr>
	<div id="features"></div>
	
</div>


<!-- 썰 column-->
<div class="pull-left col-xs-12 col-md-4">
	<!-- 썰 div-->
	<p>**이야기**</p>
	<hr>
	<div id="stories"></div>
			
</div>	

<!-- 방명록 기록칸-->
<div class="pull-left col-xs-12 col-md-4">
	
	<p>**방명록**</p>
	<hr>
	<div id="replies"></div>
	
</div>



<div class="col-xs-12 col-sm-12 col-md-12">
	<input type="hidden" id="defaultVal" profileId={{profileId}} {{#isEquals profileId userInfo.profile}} isMyPage="true" {{/isEquals}}>

	{{#isEquals profileId userInfo.profile}}<!--button class="btn btn-default" id="removeProfile">삭제</button-->{{/isEquals}}
</div>


{{#section 'head'}}
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/test.css">
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
{{/section}}


{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/profile.js"></script>
	<script type="text/javascript" src="/js/api/user.js"></script>
	<script type="text/javascript" src="/js/api/school.js"></script>
	<script type="text/javascript" src="/js/api/auth.js"></script>
	<script type="text/javascript" src="/js/controllers/profileUtils.js"></script>
	<script type="text/javascript" src="/js/templates/controllers/profileTPLC.js"></script>
	<script type="text/javascript" src="/js/controllers/profileController.js"></script>
{{/section}}