<h1>School Page, It will include Board and Profile TODO</h1>

<ul class="profileList">
{{#each seedData.profiles}}
	<li>
	이름 : {{name}}<br>
	설명: {{description}}<br>
	</li>
{{/each}}
</ul>

<ul class="boardList">
{{#each seedData.boards}}
	<li>
	제목: {{title}}<br>
	내용: {{content}}<br>
	</li>
{{/each}}
</ul>