<header>공지사항수정</header>
<form class="form-horizontal updateInfoForm" role="form" action="/info/{{id}}" method="PUT" infoId="{{id}}">
	<div class="form-group">	
		<label for="infoTitle" class="col-sm-2 control-label">제목</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="title" id="infoTitle" value="{{title}}" required>
		</div>
		</br>

		<label for="infoContent" class="col-sm-2 control-label">내용</label>
		<div class="col-sm-9">
			<textarea class="form-control" name="content" id="infoContent" rows="10" required>{{{content}}}</textarea>
		</div>
		
		<div class="col-xs-12 col-sm-offset-2 col-md-offset-2">
			<button type="submit" class="btn btn-default buttonGroup">수정</button>
		</div>
	</div>
</form>

<script type="text/javascript" src="/js/api/info.js"></script>
<script type="text/javascript" src="/js/controllers/infoController.js"></script>