/*h1{
	text-decoration:underline;
	margin-top:20pt;
	font-size:27pt;
	font-weight:bold;
}
/*이미지 고정 */
form{
	color:black;
	font-size:15pt;
	margin-top:10pt;
	
	margin-bottom:10pt;
}
#searchSchool{
	text-align:center;
}
li{
	font-weight:bold;
}
/*검색리스트 div*/
.resultDivision{
	padding:10pt;
	
	height:400pt;
	border-radius:15px;
	border:2px solid;

}

/*
h2{
	text-align:center; 
}
