@media (min-width: 768px) and (max-width: 979px) {body{
        font-size:1.5em;
	}
}
@media (max-width: 767px) {body{
	font-size:1.5em; 
	}
	header{
		font-size:18pt;
	}
	h2{
		font-size:1.7em; 
	}
	.formClass{
		margin-top:0;
		margin-bottom:0;  
	}
}
@media (max-width: 480px) {
	body{
		font-size:1.3em; 
		
	}
	header{
		font-size:12pt; 

	}
	.buttonGroup{
		font-size:1em;
	}
	span{
		font-size:1em; 
	}
	a{
		font-size:1em; 
	}
	form{
		font-size:1em;
	}
	h2{
		font-size:1.3em;
	}
	input{
		font-size:1em;
	}
	.pagination{
		font-size:0.05em; 
	}
	.form-control{
		font-size:1em; 
	}
	.img{
		font-size:1.3em; 
	}
	li>a{
		font-size:1em; 
	}
	#takeProfile{
		font-size:1em; 
	}
	.formClass{
		margin-top:0;
		margin-bottom:0;  
	}
}