@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
body{
	
	background-color:#F0F8FF;
	font-weight:bold;
	font-family: 'Jeju Gothic', serif;
	font-size:12pt;
	margin-bottom:20pt; 
}


div{
	
	margin-top:1px;
}


header{
	font-family: 'Hanna', serif;
	text-align:center;
	margin-top:20pt;
	font-size:30pt;
	font-weight:bold;
	margin:35pt;
}
a{
	color:#483d8b;
}
input[type="password"] {font:small-caption;}
input{
	color:black;
}
.schoolList>li{
	display: inline;
}
hr{
	border-width:3px; 
}
/*.formClass{
	margin-top:1px;
	margin-bottom:1px; 
}
