@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
body{
	padding:10pt;
	background-color:#F0F8FF;
	font-weight:bold;
	font-family: 'Jeju Gothic', serif;
	font-size:12pt;
}
div{
	margin-top:1px;
}
.img{
	position:absolute;
	left:0;
	top:0;
	font-size:17pt;
	padding:10pt;
}
.log{
	position:absolute;
	top:0;
	right:0;
	padding:10pt; 
}

header{
	font-family: 'Hanna', serif;
	text-align:center;
	margin-top:20pt;
	font-size:30pt;
	font-weight:bold;
	margin:35pt;
}
a{
	color:#483d8b;
}

input{
	color:black;
}