#updateDescription{
	margin-bottom:5pt;
}
button{
	color:black;
}
.bottom{
	margin-bottom:10pt;
}
/*글쓰기 버튼 */
.middle{
	margin-top:10pt;
	clear:right;
	text-align:center;
}
/*검색칸 */

input{
	font-size:15pt;
}
span{
	font-weight:bold;
}
