


button#updateDescription{
	float:right;
	color:black;
}
/*글쓰기 버튼 */
.middle{
	margin-top:30pt;
	clear:right;
	text-align:center;
}
/*검색칸 */
.bottom{
	margin-top:25pt;
}
input{
	font-size:15pt;
}
span{
	font-weight:bold;
}
