
/*최근 게시물 div */
.left{
	
	width:47%;
	float:left;
	
}
/*베스트 게시물 div */
.right{
	
	width:47%;
	float:right;
	
}

h2{
	color:red;
}
/*글쓰기 버튼 */
.middle{
	margin-top:30pt;
	clear:right;
	text-align:center;
}
/*검색칸 */
.bottom{
	margin-top:30pt;
}
span{
	font-weight:bold;

}
#searchlist{
	padding:5px;
	margin:5px;
}