

<!--EP에서 특징추가하기를 누르면 나오는 template -->

<form class="form-horizontal addReplyForm" role="form" action="/api/profile/{{profileId}}" method="PUT">

	<!--특징추가 form-->
	<div class="form-group">

		<div class="col-xs-8 col-sm-8 col-md-12">
			<textarea class="form-control" name="reply" id="fieldReply" required></textarea>
		</div>
		<!--추가 버튼-->
		<div class="col-md-12">
			<button type="submit" class="btn btn-default">추가</button>
			<button class="btn btn-default" id="cancelAddReply">취소</button>
		</div>	
	</div>
	
</form>

