

<!--EP에서 특징추가하기를 누르면 나오는 template -->

<form class="form-horizontal addStoryForm" role="form" action="/api/profile/{{profileId}}" method="PUT">

	<!--특징추가 form-->
	<div class="form-group">
		<label>썰쓰기</label>
		<div class="col-xs-12 col-sm-11 col-md-7">
			<textarea class="form-control" name="story" id="fieldStory" required></textarea>
		</div>
		<!--추가 버튼-->
		<div class="col-xs-12 col-md-12">
			<button type="submit" class="btn btn-default btn-sm buttonGroup">추가</button>
			<button class="btn btn-default btn-sm buttonGroup" id="cancelAddStory">취소</button>
		</div>	

	</div>
</form>

