<form class="form-horizontal" action="/api/school" id="searchSchool">
	<div class="form-group">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label>학교검색</label>
		</div>
		
		<div class="col-xs-9 col-sm-8 col-md-12">
			<input type="text" class="form-control" name="name" placeholder="학교명을 입력하세요!!">
		</div>
		<div class="col-xs-12 col-md-12">	
			<button class="btn btn-default buttonGroup" type="submit">검색!</button>
			<button class="btn btn-default buttonGroup" id="cancelUpdateSchool">취소</button>
		</div>
	</div>
</form>

<div id="searchedSchoolsTPL"></div>



