
<ul class="schoolList">
	{{#each searchedList}}
		<!-- 열려있든, 안열려있든 공통의경우는 아래-->
		<li>{{name}} {{location}}</li><button class="sendData btn btn-default btn-sm" schoolId={{id}}>확인</button></br>
		<input class="inputName" type="hidden" name="school" value={{name}}>
	{{/each}}
</ul>

{{#if noData}}
	그런학교 없다 ㄹㅇㅠㅠ.
{{/if}}
