<form class="form-horizontal" action="/api/school" id="searchSchool">
	<div class="form-group">
		<label>학교수정</label>
		<input type="text" class="form-control" name="name" placeholder="학교명을 입력하세요!!">
		<button class="btn btn-default" type="submit">검색!</button>
		<button class="btn btn-default" id="cancelUpdateSchool">취소</button>
	</div>
</form>

<div id="searchedSchoolsTPL"></div>



