<form class="form-horizontal updateBugName" role="form" method="PUT" action="/api/profile/{{profileId}}">
	<div class="form-group">
		<label>충호변경</label>
		<input type="text" class="form-control" name="bugName" id="bugName">
		<button class="btn btn-default">추가</button>
		<button class="btn btn-default" id="cancelUpdateBugName">취소</button>
	</div>
	
</form>
	
