<form class="form-horizontal updateClass" role="form" method="PUT" action="/api/profile/{{profileId}}">
	<div class="form-group">
		<label>반 수정</label>
		<div class="row">
			<input type="text" class="form-control" name="first" id="firstClass">
			<button class="btn btn-default btn-sm">수정</button>
		
		</div>
		
		<input type="text" class="form-control" name="second" id="secondClass">
		<button class="btn btn-default btn-sm">수정</button>
		
		<input type="text" class="form-control" name="third" id="thirdClass">
		<button class="btn btn-default btn-sm">수정</button>
		<button class="btn btn-default btn-sm" id="cancelUpdateClass">취소</button>
	</div>
	
</form>
	