
<form class="form-horizontal updateSchoolForm" role="form" action="/api/school" method="PUT">
	<!--controller에서 id를 가져오기 위해 추가된 From-->

	<!--제목부분-->
	
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>소개글수정</label>
	</div>
	<div class="col-xs-10 col-sm-6 col-md-6">
		<input type="text" class="form-control" required name="description" id="fieldDescription">
	</div>
	
	

	<!--수정, 취소 버튼-->
	<div class="col-sm-12 col-md-12">
		<button type="submit" class="btn btn-default buttonGroup">수정</button>
		<button class="btn btn-default buttonGroup" id="cancelUpdateDescription">취소</button>
	</div>
		
</form>
