<form class="form-horizontal updatePasswordForm" role="form" action="/api/user" method="PUT">
	<!--개인비밀번호 수정-->
	<div class="form-group">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label for="fieldwPassword">새로운 비밀번호</label>
			<input type="password" class="form-control" name="password" id="fieldPassword" />
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label for="fieldwPasswordConf">새로운 비밀번호 확인</label>
			<input type="password" class="form-control" name="passwordConf" id="fieldPasswordCOnf" />
		</div>
	</div>

	<button type="submit" class="pull-right btn btn-default btn-sm buttonGroup">수정</button>
</form>

	<button class="btn btn-default btn-sm" id="cancelUpdatePassword">취소</button>