<header>회원가입</header>
<form class="form-horizontal registerForm" action="/register" method="POST" id="registerForms">
  
  <div class="form-group">
      <label for="fieldEmail" class="col-xs-11 col-sm-2 col-md-3 control-label">*이메일</label>
      <div class="col-xs-10 col-sm-7 col-md-6">
        <input type="email" class="form-control" id="fieldEmail" name="email" placeholder="로그인시 사용할 이메일">
      </div>
  </div>

  <div class="form-group">
      <label for="fieldName" class="col-xs-11 col-sm-2 col-md-3 control-label">*이름(실명)</label>
      <div class="col-xs-10 col-sm-7 col-md-6">
        <input type="text" class="form-control" id="fieldName" name="name" placeholder="ex)홍길동">
      </div>
  </div>

  <div class="form-group">
      <label for="fieldPassword" class="col-xs-11 col-sm-2 col-md-3 control-label">*비밀번호</label>
      <div class="col-xs-10 col-sm-7 col-md-6">
        <input type="password" class="form-control" id="fieldPassword" name="password" placeholder="비밀번호">
      </div>
  </div>
  <div class="form-group">
      <label for="fieldPasswordConf" class="col-xs-11 col-sm-2 col-md-3 control-label">*비밀번호확인</label>
      <div class="col-xs-10 col-sm-7 col-md-6">
        <input type="password" class="form-control" id="fieldPasswordConf" name="passwordConf" placeholder="비밀번호확인">
      </div>
  </div>
  <div class="form-group">
    <label for="graduation" class="col-xs-11 col-sm-2 col-md-3 control-label">*고등학교 졸업(예정)년도</label>
    
    <div class="col-xs-9 col-sm-6 col-md-5">
      <select class="form-control" name="graduation" id="graduation">
        <option value="0">졸업(예정)년</option>
        {{#iterateFromTo 1990 2020}}
          <option value="{{index}}">{{index}} ({{{math index "-" 1919}}}년생)</option>
        {{/iterateFromTo}}
      </select>
    </div>
  </div>
  
  <div class="form-group">
      <label for="kakaoButton" class="col-xs-10 col-sm-2 col-md-3 control-label">*카카오인증</label>
      <div class="col-xs-10 col-sm-7 col-md-6">
          <a id="kakao-login-btn" id="kakaoButton"></a>
          <br/><span id="kakaoMessage">현재 미인증 상태입니다. 카카오인증은 필수입니다!</span>
      </div>
  </div>
<!--div class="form-group">
    <label for="schoolName" class="col-xs-11 col-sm-2 col-md-3 control-label">*출신학교(아래 학교추가이용)</label>
    <div class="col-xs-10 col-sm-7 col-md-6">
      <ul>
        <div id="addSchoolTemplate">
      </ul>
    </div>
  </div>
</div-->

  <div class="col-sm-offset-2 col-md-offset-3">
    <input type="hidden" name="verified" id="verified" />
    <input type="hidden" id="fieldKakaoEmail" name="kakaoEmail" />
    <button class="btn btn-default buttonGroup" id="register">회원가입</button>
    <button class="btn btn-default goBack buttonGroup">취소</button>
  </div>

  <input type="hidden" name="register" value="true" />
</form>
</br>

<!--div class="form-horizontal">
  <div class="form-group">
  <label for="school" class="col-xs-11 col-sm-2 col-md-3 control-label">- 학교추가(초,중,고 세개 혹은 전학시에 세개 이상 입력 가능)</label>
  <div class="col-xs-12 col-sm-10 col-md-5">
    <button id="addSchool" class="btn btn-default btn btn-sm">학교추가</button> 출신 초,중,고등학교의 게시물을 확인할수 있습니다!
    <div id="addSchoolTPL"></div>
  </div>
</div-->

{{#section 'head'}}
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
{{/section}}

{{#section 'jquery'}}
    <script type="text/javascript" src="/js/api/user.js"></script>
    <script type="text/javascript" src="/js/api/auth.js"></script>
    <script type="text/javascript" src="/js/controllers/home/registerController.js"></script>
{{/section}}