<ul class="schoolList">
	{{#each searchedList}}
		<li>{{name}} {{location}}</li><button class="sendData btn btn-default btn-sm" schoolId={{id}} schoolName={{name}}>확인</button></br>
	{{/each}}
</ul>

{{#if noData}}
	그런학교 없다 ㄹㅇㅠㅠ.
{{/if}}