
{{#each schoolList}}
	<div>
		{{name}} ({{location}})의 학교 학생 만들기 <a href="/profile/newTwo?school={{id}}" class="btn btn-default">GO!</a>
	</div>
{{else}}
	입력한 학교는 존재하지 않아요ㅠㅠ 다시한번 검색해주세요! 정확한 이름이 필요하다리 ex) 외고(x) 외국어고등학교(o)
{{/each}}
