<div class="col-xs-12 col-sm-12 col-md-12">
	<ul class="boardList">
		{{#each boardList}}
			<a href="/board/{{id}}">
				<li>
					제목: {{title}}
					<p>내용: {{content}}</p>
				</li>
			</a>
		{{/each}}
	</ul>
</div>